/* @import url('https://fonts.googleapis.com/css2?family=Chango&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');


body {
    /* background-color: rgb(168, 0, 168); */

}
.section {
    display: flex;
    justify-content: space-between;
    /* background: rgb(32, 32, 27); */
    
}

.navbar {
    height: 89vh;
    display: fixed;
    padding: 30px 20px;
    width: 20%;
    background: rgb(3, 10, 82);
    overflow: auto;
}
.navbar img {
    width: 213px;
    height: 80px;
    
}
.tabs_events {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 50px;
    padding-left: 20px;
}


.tab-btn {
    display: block;    
    
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding: 5px 10px;
    margin: 5px 0px;

    background: rgb(255, 239, 154);
    color: rgb(0, 0, 0);
}
.tab-btn:hover {
    background: rgb(200, 162, 255);   
    cursor: pointer; 
}
.tab-btn.active {
    background: rgb(200, 162, 255);
}




.block_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    padding: 0px 20px;
}
.header {
    display: flex;
    /* justify-content: center;
    align-items: center;
    text-align: center; */

    height: 80vh;
    background:url(/pictures/pexels-photo-h1-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    

}
.header h1{
    font-weight: 900;
    font-size: 110px;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    text-align: center;
}




.content {
    display: none;
    /* height: 100px;
    width: 200px; */
    /* background-color: rgb(220, 243, 13); */
    padding: 10px 0px;

    /* flex-wrap: wrap; */
}

.content.active {
    display: block;

}
.content ul {
    padding-left: 0;
    margin: 0;
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    
}
.content_link {
    text-decoration: none;
    justify-content: center;

    background: #000;
    color: aliceblue;
    padding: 5px 8px;
    margin: 0px 5px 5px 0px;
}

.content_link:hover {
    background-color: #fff;
    color: #000;
}






.content_DJ {
    display: none;
    width: 800px;
    height: 600px;
    background-color: rgb(85, 85, 85);
}

